# Visual Studio files
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

# Build results
bin/
obj/
Debug/
Release/

# Rider, VS Code, and other IDE files
*.vscode/
*.idea/

# Temporary databases or caches
*.db
*.db-shm
*.db-wal
*.dtbcache.v2
*.metadata.v9.bin
